<div>
    <div>hello {{welcome}}</div>
    <div> Items</div>
    <loader show="flg"></loader>
    <ul ng-repeat='data in datas'>
        <li>
            <div>
                <item desc='data'></item>
            </div>
        </li>
    </ul>
</div>